<template name="appHeader">
	{{bodyClasses}}
	<div class="{{#if userIsLoggedIn}}collapsed-header{{/if}}" data-action="return-home">
		<div class="app-icon {{skullClasses}}">
			{{>argusicon}}
		</div>
		<div class="app-title">
			Audio Argus
		</div>
		<div class="app-sub-title">
			Monitor Your Equipment's Health using Sound!
		</div>
		<div class="app-logout">
			<a href="#" data-action="logout"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
</template>

<template name="appBody">
	<div class="wrapper-welcome">
		<div class="title-welcome">Audio Argus</div>

		<div class="description-welcome">
			Audio Argus is a intelligent group of smart microphones which monitor the health of any device which has a mechanical component. What’s the first thing a mechanic does when you bring them your car? they fire up the engine and listen to the way it sounds! The sounds a machine emits gives you a plethora of information about how well it’s working and what might be wrong with it. Ausi Argus is your own personal machine learning mechanic in the Cloud, and it doesn't just work for cars, it works for any device with a mechanical component.
		</div>

		<div class="description-welcome">
			Thanks to <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> (now MDG ;) lots of stuff borrowed from the Local Market demo. Also Special thanks to Slava Kim, Sashko Stubailo, and the rest of the MDG team for all their hard work in getting Cordova to work effortlessly with the Meteor CLI.
		</div>

		<div class="description-welcome">
			Argus was made by David Sykora and Joel Brinton for the 2015 Smart City IoT SigFox Hackathon. Built using <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. Audio Argus is open source and the code is available on <a href="https://github.com/Dsyko/audio-argus" target="_blank" class="js-open">GitHub</a>.
		</div>
	</div>

	<div id="container" class="container-fluid">
		<div class="content-scrollable">
			{{> appHeader}}
			{{#momentum plugin='velocity-reverse' duration=250}}
				{{#if userIsLoggedIn}}
					{{> Template.dynamic template=main}}
				{{else}}
					{{>entry}}
				{{/if}}
			{{/momentum}}
		</div>
	</div>
</template>

